:root {
  --blue-1: #0048ff;
  --blue-2: #0060ff;
  --blue-3: #0078ff;
  --blue-4: #0090ff;
  --blue-5: #00a8ff;
  --blue-6: #00c0ff;

  --color-primary-95: color-mix(in srgb, var(--color-primary) 95%, var(--color-secondary) 5%);
  --color-primary-90: color-mix(in srgb, var(--color-primary) 90%, var(--color-secondary) 10%);
  --color-primary-85: color-mix(in srgb, var(--color-primary) 85%, var(--color-secondary) 15%);
  --color-primary-80: color-mix(in srgb, var(--color-primary) 80%, var(--color-secondary) 20%);
  --color-primary-75: color-mix(in srgb, var(--color-primary) 75%, var(--color-secondary) 25%);
  --color-primary-70: color-mix(in srgb, var(--color-primary) 70%, var(--color-secondary) 30%);
  --color-primary-65: color-mix(in srgb, var(--color-primary) 65%, var(--color-secondary) 35%);
  --color-primary-60: color-mix(in srgb, var(--color-primary) 60%, var(--color-secondary) 40%);
  --color-primary-55: color-mix(in srgb, var(--color-primary) 55%, var(--color-secondary) 45%);
  --color-primary-50: color-mix(in srgb, var(--color-primary) 50%, var(--color-secondary) 50%);

  --color-secondary-95: color-mix(in srgb, var(--color-secondary) 95%, var(--color-primary) 5%);
  --color-secondary-90: color-mix(in srgb, var(--color-secondary) 90%, var(--color-primary) 10%);
  --color-secondary-85: color-mix(in srgb, var(--color-secondary) 85%, var(--color-primary) 15%);
  --color-secondary-80: color-mix(in srgb, var(--color-secondary) 80%, var(--color-primary) 20%);
  --color-secondary-75: color-mix(in srgb, var(--color-secondary) 75%, var(--color-primary) 25%);
  --color-secondary-70: color-mix(in srgb, var(--color-secondary) 70%, var(--color-primary) 30%);
  --color-secondary-65: color-mix(in srgb, var(--color-secondary) 65%, var(--color-primary) 35%);
  --color-secondary-60: color-mix(in srgb, var(--color-secondary) 60%, var(--color-primary) 40%);
  --color-secondary-55: color-mix(in srgb, var(--color-secondary) 55%, var(--color-primary) 45%);
  --color-secondary-50: color-mix(in srgb, var(--color-secondary) 50%, var(--color-primary) 50%);

  --color-accent: var(--blue-4);
  
  --header-height: 4em;
  --button-size: calc(var(--header-height) / 2);

  font-size: 16px;
}

:root {
  font-family: Helvetica, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

html.dark {
  --themecolor: #000000;
  --themecolor-inverted: #ffffff;
}

html.light {
  --themecolor: #ffffff;
  --themecolor-inverted: #000000;
}

body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: var(--color-primary)
}

a {
  color: var(--color-accent);
}

a:visited {
  color: color-mix(in srgb, var(--color-accent) 60%, black 40%)
}

a:hover {
  color: color-mix(in srgb, var(--color-accent) 50%, white 50%)
}